# .gitignore
.DS_store
__pycache__
dist
malloy.egg-info
.pytest_cache
test.py
scratch

# Avoid checking in binaries
/src/malloy/service/malloy-service-*

# Jetbrains IDEs
.idea/

# Code coverage
.coverage*
